.watch-later {
  padding-bottom: 30px;
  overflow-x: hidden;
}

.site-menu--none ~ .watch-later {
  padding-left: 33px;
}

.watch-later__head {
  max-width: 1020px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-right: 33px;
}

.watch-later__title {
  margin: 0;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202C;
}

.watch-later__list {
  display: flex;
  @include reset-list;
}

.watch-later__item {
  position: relative;
  z-index: 1;
  min-width: 250px;
  margin-right: 40px;
}

.watch-later__link {
  position: relative;
  z-index: 1;
}

.watch-later__img {
  display: inline-block;
  vertical-align: baseline;
  width: 250px;
  height: 150px;
}

.watch-later__item-title {
  margin-top: 6px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202C;
}

.watch-later__item-bottom {
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.watch-later__item-days-ago {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: #C2C2C2;
}

.watch-later__item-person {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: #C2C2C2;
}

.watch-later__item-clock {
  position: absolute;
  z-index: 5;
  right: 15px;
  top: 10px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../imgs/clock.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.watch-later__item-time {
  position: absolute;
  z-index: 5;
  right: 15px;
  top: -20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 0px 8px;
}

@include breakpoint-down (380) {
  .watch-later {
    margin-top: 30px;
    padding-bottom: 0;
  }
  .watch-later__list {
    flex-direction: column;
    align-items: center;
  }
}